.formcontroller_hidden {
    display: none;
}

.formcontroller_validInput {
	/* lys-grønn */
    background-color: rgb(200, 255, 200);
}

.formcontroller_invalidInput {
    /* lys - rød */
    background-color: rgb(255, 200, 200);
}

.formcontroller_strongPassword {
    /* lys - grønn */
    background-color: rgb(200, 255, 200);
}

.formcontroller_mediumPassword {
	/* lys-gul */
	background-color: rgb(255, 255, 170);
}

.formcontroller_weakPassword {
	/* lys-rød */
    background-color: rgb(255, 200, 200);
}