.formController_hidden {
    display: none;
}

.formController_validInput {
	/* lys-grønn */
    background-color: rgb(200, 255, 200);
}

.formController_invalidInput {
    /* lys rød */
    background-color: rgb(255, 200, 200);
}

.formController_strongPassword {
    /* lys-grønn */
    background-color: rgb(200, 255, 200);
}

.formController_mediumPassword {
	/* lys-gul */
	background-color: rgb(255, 255, 170);
}

.formController_weakPassword {
	/* lys-rød */
    background-color: rgb(255, 200, 200);
}