#root {
    float:left !important;
}
.errorStyle {
    border-color: red !important;
}

.validStyle {
    border-color: limegreen !important;
}

.mediumStyle {
    border-color: #ffc403 !important;
}

.modal {
    display: none;
    width: 400px;
    float:right;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 0px;
    padding-left: 15px;
    width: 90%;
    border: 1px solid #ffbb00;
    border-style:dashed;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #f0f0f0 inset;
}